# Java
*.class
*.log
hs_err_pid*
replay_pid*

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Gradle
.gradle/
build/
out/

# Allure
allure-results/
allure-report/

# IntelliJ
.idea/
*.iml

# OS
.DS_Store
Thumbs.db